.wrapper {
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: $wrapper-bgc;

    .film-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #fff;

        .box {
        border: 1px solid $border-colour;
        text-align: center;
        margin: 20px;
        position: relative;
        display: inline-block;

        @media (min-width: 768px){
            margin: 25px;
        }

        }

        .film-summary {
            z-index: 1;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: .75em;
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            visibility: hidden;
            overflow:hidden;
            opacity: 0;
            transition: opacity 1s;
            .date {
                text-align: center;
                padding: 0;
            }

            p {
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
            }
        }    
        .box:hover .film-summary {
            visibility: visible;
            opacity: 1;
        }    

        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 2fr);
        }

    }
}
