.box {
    border: 1px solid $border-colour;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    width: 60%;

    img {
        width: 90%;
    }

}

@media (min-width: 600px) {

}

@media (min-width: 800px) {
    
}