nav {
    background-color: $dark;
    color: white;
    display: flex;

    li {
        list-style: none;
    }
}

.h2-header {
    text-align: center;
}

h2:after {
    content: ' ';
    display: block;
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}